@layout('main')

@section('content')

{{ style('style') }}

  <div>
    <a style="margin-left: 20px; width: 60%;" href="/properties">Go Back</a>
    <div class="card d-flex flex-column flex-center" style="width: 60%; margin-left: 20px; margin-top: 50px">
      <div class="card-body">
        <img src="{{ '../../' + property.image + '.png' }}" class="card-img-top" alt="...">
        <div class='p-3'>
          <h5 style="margin-top: 10px" class="card-title">{{ property.propertyName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Value: ₦{{ property.value}}</h6>
          <div>Tenants: {{ property.tenants }}</div>
          <div>Price: ₦{{ property.rent }}</div>
  
          <div style="margin-top: 12px" class='d-flex flex-row justify-content-between'>
            <a class="card-link btn btn-dark " href='/properties/edit/{{ property.id }}'>Edit</a>
    
            <form  action="{{ property.id + '?_method=DELETE' }}" method="POST">
              {{ csrfField() }}
              <button class=" card-link btn btn-danger">Delete</button>
            </form>
  
          </div>
  
        </div>
      </div>
    </div>

  </div>

@endsection
