@layout('main')

@section('content')

  <a href='/properties'>Go Back</a>
  <hr>
  <h1>Edit Property</h1>
    <form action="{{ '/properties/' + property.id + '?_method=PUT' }}" method="POST">
    {{ csrfField() }}
    <div class="form-group">
      <label>Name</label>
      <input name="propertyName" class="form-control" placeholder="Property Name" value="{{ property.propertyName }}"></input>
      {{ elIf('<span class="text-danger">$self</span>', getErrorFor('name'), hasErrorFor('name')) }}
    </div>
    <br>
    <div class="form-group">
      <label>Value</label>
      <input name="value" class="form-control" placeholder="Value" value="{{ property.value }}">
      {{ elIf('<span class="text-danger">$self</span>', getErrorFor('value'), hasErrorFor('value')) }}
    </div>
    <div class="form-group">
      <label>Tenants</label>
      <input name="tenants" class="form-control" placeholder="Tenants" value="{{ property.tenants }}">
      {{ elIf('<span class="text-danger">$self</span>', getErrorFor('tenants'), hasErrorFor('tenants')) }}
    </div>
    <div class="form-group">
      <label>Rent</label>
      <input name="rent" class="form-control" placeholder="Rent" value="{{ property.rent }}">
      {{ elIf('<span class="text-danger">$self</span>', getErrorFor('rent'), hasErrorFor('rent')) }}
    </div>
    {{--  Comment Out Field  --}}
    <div class="form-group">
      <label>Image</label>
      <input name="image" class="form-control" placeholder="Image" value="{{ property.image }}" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


@endsection