@layout('main')

@section('content')

<div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped small table-hover">
      <thead>
        <tr>
          @each(head in propertiesHeader)
            <th>
              <div class="header-wrap">
                  <span>{{ head.value }}</span>
                </div>
              </th>
            @endeach
        </tr>
      </thead>
      
      <tbody>
        @each(prop in properties)
          <tr class="table-data">
            <td><a href='/properties/{{ prop.id }}'> {{ prop.propertyName }}</a></td>
            <td>{{ prop.value }}</td>
            <td>{{ prop.tenants }}</td>
            <td>₦{{ prop.rent }} <a href='/properties/{{ prop.id }}' style="float: right" class="btn btn-dark">View property</a></td>
          </tr>
        @endeach
      </tbody>
    </table>  
  </div>
</div>

@endsection